
a.rollover_linux{
    background-image: url(lin.svg);
    background-color: #a0a0a0;
    display:inline-block;
    width: 200px;
    height: 226px;
}
a.rollover_linux:hover{
    background-color: #CEFA05;
}

a.rollover_smile{
    background-image: url(smile.svg);
    background-color: #a0a0a0;
    display: inline-block;
    width: 200px;
    height: 206px;
}
a.rollover_smile:hover{
    background-color: #CEFA05;
}

a.rollover_sad{
    background-color: #a0a0a0;
    background-image: url(sad.svg);
    display: inline-block;
    width: 200px;
    height: 206px;
}
a.rollover_sad:hover{
    background-color: #CEFA05;
}

a.rollover_loopa{
    background-color: #a0a0a0;
    background-image: url(loopa.svg);
    display: inline-block;
    width: 200px;
    height: 200px;
}
a.rollover_loopa:hover{
    background-color:#CEFA05;
}

a.rollover_book{
    background-image: url(book.svg);
    background-color: #a0a0a0;
    display: inline-block;
    width: 180px;
    height:206px;
}
a.rollover_book:hover{
    background-color: #CEFA05;
}

ul.hr {
    text-align:center;
    list-style: none;
    margin: 0px;
    padding: 4px; 
}
ul.hr li {
    display: inline;
    margin-right: 5px;
    border: 12px; 
    padding: 0px;
}


a.search{
    background-image: url(loopa.svg);
    display:inline-block;
    width: 10px;
    height: 10px;
}
a.search:hover{}
a.coment{
    background-image: url(coment.svg);
    display: inline-block;
    width: 10px;
    height: 10px;
}
a.coment:hover{}
a.like{
    background-image: url(like.svg);
    display: inline-block;
    width: 10px;
    height: 10px;
}
a.coment:hover{}
a.add{
    background-image: url(add.svg);
    display: inline-block;
    width: 10px;
    height: 10px;
}
a.add:hover{}
a.delete{
    background-image: url(delete.svg);
    display: inline-block;
    width: 10px;
    height: 10px;
}
a.delete:hover{}
   
table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}
.shir{
    width: 250px;
}
td, th {
    padding: 4px; /* Поля в ячейках */
    border: 1px solid #000000; /* Граница между ячейками */
}
td.clr{
    background: #a0a0a0;
}
thead {
    background: #666; /* Цвет фона строки заголовка */
    color: #fff; /* Цвет текста */
}



